<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [118]:
sample = 'Hello world!'
def string_len(s):
  return len(s)
print(string_len(sample))

12

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [119]:
sample = 'google.com'
count_dict = {}
for character in sample:
  char_count=count_dict.get(character, 0)
  char_count +=1
  count_dict[character] = char_count
print(count_dict)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [120]:
sample = [1,2,3]
result = 0
for i in sample:
  result = result + i
print(result)

6

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [121]:
sample = 'restart'
try:
  first = sample[0]
  replaced = sample.replace(first,'$')
  result = first + replaced[1:]
  print(result)
except IndexError:
  print('')

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [122]:
def calc(a, b):
  S = 3.14 * (1 + a/b)**3
  return S

print(calc(a=1, b=2))

10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [123]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
result = {}
result.update(dic1)
result.update(dic2)
result.update(dic3)
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [124]:
sample = (1,2,3,'test','in')
test1 = 'in'
test2 = 'out'
print(test1 in sample)
print(test2 in sample)

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [125]:
sample = set([1,2,3,7,0,44,21,44,2,-400])
print('Maximum:', max(sample))
print('Minimum:', min(sample))

Maximum: 44
Minimum: -400

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [126]:
from random import *
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
# Sample list with more students than fit in five groups
#studnet_list = ['jhb001','jhb002','jhb003','jhb004','jhb005','vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

groups = [[],[],[],[],[]]
while len(studnet_list) > 0:
  # randomly select a group
  rand_group_num = randint(0,4)
  # check if group maximally filled
  if len(groups[rand_group_num]) >= 5:
    # Do not add to group
    continue
  #check if all groups are minimally filled
  if len([g for g in groups if len(g)>=3]) != len(groups):
      # Assign student to group unless it is minimally filled
      if len(groups[rand_group_num]) >= 3:
        # Skip this group
        continue
  # randomly select a student
  rand_student_num = randint(0,len(studnet_list)-1)
  rand_student = studnet_list[rand_student_num]
  #print(rand_student)
  # add student to group
  groups[rand_group_num].append(rand_student)
  # remove student from list
  del studnet_list[rand_student_num]
  # Check if groups are all full
  if len([g for g in groups if len(g)==5]) == len(groups):
    print('All groups are full')
    print('Unassigned students:', studnet_list)
    break

print(groups)
for group in groups:
  print(len(group), group)

[['yye0005', 'msp0174', 'vmb0067', 'ss1995', 'rak0120'], ['tv0119', 'dy0091', 'pn0159', 'spk0057'], ['pc0353', 'rs0850', 'at0739', 'snd0097', 'at0768'], ['ds0761', 'vl0135', 'dd0420', 'sg0940', 'nm0547'], ['bk0301', 'mv0299', 'rrk0058']]
5 ['yye0005', 'msp0174', 'vmb0067', 'ss1995', 'rak0120']
4 ['tv0119', 'dy0091', 'pn0159', 'spk0057']
5 ['pc0353', 'rs0850', 'at0739', 'snd0097', 'at0768']
5 ['ds0761', 'vl0135', 'dd0420', 'sg0940', 'nm0547']
3 ['bk0301', 'mv0299', 'rrk0058']