# **The ninth in-class-exercise (20 points in total, 4/16/2021)**

The purpose of the exercise is to practice different machine learning algorithms for text classification as well as the performance evaluation. In addition, you are requried to conduct *10 fold cross validation (https://scikit-learn.org/stable/modules/cross_validation.html)* in the training. 

The dataset can be download from here: https://github.com/unt-iialab/info5731_spring2021/blob/main/class_exercises/exercise09_datacollection.zip. The dataset contains two files train data and test data for sentiment analysis in IMDB review, it has two categories: 1 represents positive and 0 represents negative. You need to split the training data into training and validate data (80% for training and 20% for validation, https://towardsdatascience.com/train-test-split-and-cross-validation-in-python-80b61beca4b6) and perform 10 fold cross validation while training the classifier. The final trained model was final evaluated on the test data. 

Algorithms:

(1) MultinominalNB

(2) SVM 

(3) KNN 

(4) Decision tree

(5) Random Forest

(6) XGBoost

Evaluation measurement:

(1) Accuracy

(2) Recall

(3) Precison 

(4) F-1 score

In [1]:
# Write your code here
# Code adapted from https://towardsdatascience.com/train-test-split-and-cross-validation-in-python-80b61beca4b6
import pandas as pd
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

In [23]:
# load train data
df_train = pd.read_fwf('stsa-train.txt', header=None, colspecs=[(0,1),(2,None)])
y =

In [26]:
df_train.columns = ['category', 'text']
y = df_train.category # define the target variable
df_train.head()

   category                                               text
0         1  a stirring , funny and finally transporting re...
1         0  apparently reassembled from the cutting-room f...
2         0  they presume their audience wo n't sit still f...
3         1  this is a visually stunning rumination on love...
4         1  jonathan parker 's bartleby should have been t...

In [27]:
# create training and testing vars
X_train, X_test, y_train, y_test = train_test_split(df_train, y, test_size=0.2)
print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

(5536, 2) (5536,)
(1384, 2) (1384,)

In [34]:
X_train.head()

      category                                               text
4717         0  despite an impressive roster of stars and dire...
2929         0   sex is one of those films that aims to confuse .
4933         0  content merely to lionize its title character ...
3578         0  and as with most late-night bull sessions , ev...
462          1  try as you might to resist , if you 've got a ...